[client]
user=root
password={{ db_password }}
protocol=tcp

[mysql]
user=root
password={{ db_password }}

[mysqldump]
user=root
password={{ db_password }}

[mysqldiff]
user=root
password={{ db_password }}